---
import LegalPage from "../components/LegalPage.astro";
import { getLegalLocaleContent } from "../data/legalContent";
import { getCurrentLocale } from "../lib/i18n";

const localeContent = getLegalLocaleContent(getCurrentLocale());
const document = localeContent.privacy;
---

<LegalPage
  title={document.title}
  description={document.description}
  badge={localeContent.badge}
  updatedLabel={localeContent.updatedLabel}
  updated={localeContent.updated}
>
  {
    document.sections.map((section) => (
      <section>
        <h2>{section.title}</h2>
        <p>{section.body}</p>
      </section>
    ))
  }
</LegalPage>
